<div [ngStyle]="{'background-color': bgColor, 'color': txtColor}">
  <h1>{{ title }}</h1>

  <input id="username" name="username" type="color" [(ngModel)]="bgColor">
  <input id="txtColor" name="txtColor" type="color" [(ngModel)]="txtColor">
  {{ bgColor }}-{{ txtColor }}

  <select #theType (change)="changeTheType($event, theType)">
    <optgroup label="Thé noir">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </optgroup>
    <optgroup label="Thé vert">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </optgroup>
    <optgroup label="Thé blanc">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </optgroup>
  </select>
</div>

