<form #form (ngSubmit)="loginAction(form)">
  <div class="input-field">
    <label for="username">Username</label>
    <input class="validate" type="text" id="username" name="username">
  </div>
  <div class="input-field">
    <label for="password">Password</label>
    <input class="validate" type="text" id="password" name="password">
  </div>
  <button type="submit">Se connecter</button>
</form>
