<table>
  <thead>
  <tr>
    <th *ngFor="let header of headers">{{ header }}</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let produit of produits"
    product-list-item
    [produit]="produit"
    [fieldToProject]="headers"
    (buy)="buyAction(produit, $event)"
    (refill)="refillAction(produit, $event)">
  </tr>
  </tbody>
</table>
