<form #form (ngSubmit)="submitAction(form)">
  <div>
    <label for="nom">Nom: </label>
    <input type="text" name="nom" id="nom">
  </div>
  <button class="btn" type="submit">Ajouter</button>
</form>
