<li class="inline-block"><button class="btn" (click)="clickAction(0)">All</button></li>
<li class="inline-block" *ngFor="let item of items">
  <button class="btn" (click)="clickAction(item.id)">{{ item.label }}</button>
</li>
