<div class="container">
  <div class="row">
    <div class="col m6">
      <ul button-list [items]="categories" (selected)="afficher($event)"></ul>
      <div class="col m6">
        <categorie-form-create (created)="addNewCat($event)"></categorie-form-create>
      </div>
      <div class="col m6">
        <product-form-create [categories]="categories" [currentCat]="currentCat" (created)="addNewProduct($event)"></product-form-create>
      </div>
    </div>
    <div class="col m6">
      <product-list [produits]="produits" [headers]="['id', 'nom', 'prix', 'quantite', 'actions']"></product-list>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
