<form #form (ngSubmit)="submitAction(form)">
  <div>
    <label for="nom">Nom: </label>
    <input type="text" name="nom" id="nom">
  </div>
  <div>
    <label for="prix">Prix: </label>
    <input type="number" name="prix" id="prix">
  </div>
  <div>
    <label for="categorie">Categorie: </label>
    <select name="categorie" id="categorie">
      <option
        *ngFor="let categorie of categories"
        [value]="categorie.id"
        [selected]="categorie.id == currentCat">
        {{ categorie.nom }}
      </option>
    </select>
  </div>
  <button class="btn" type="submit">Ajouter</button>
</form>
