<td *ngIf="isProject('id')">{{ produit.id }}</td>
<td *ngIf="isProject('nom')">{{ produit.nom }}</td>
<td *ngIf="isProject('prix')">{{ produit.prix }}</td>
<td *ngIf="isProject('quantite')">{{ produit.quantite }}</td>
<td *ngIf="isProject('actions')">
  <input type="number" #qtt min="0" max="100">
  <button class="btn" (click)="buyAction(qtt)" >Acheter</button>
  <button class="btn" *ngIf="authorize.isAdmin()" (click)="refillAction(qtt)">Remplir</button>
</td>
