<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a [routerLink]="['exo1', 2]">Exo1</a></li>
      <li><a [routerLink]="['market']">Market</a></li>
      <li><a [routerLink]="['market', 'products']">Products</a></li>
      <li *ngIf="!authorize.isAuthenticate(); else logout"><a [routerLink]="['login']">Login</a></li>

    </ul>
  </div>
</nav>


<ng-template #logout>
  <li><a [routerLink]="authorize.isAuthenticate()">Logout</a> </li>
</ng-template>
